{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-lg-4 rounded-4 shadow bg-white">
        <h2 id="titleLabel" class="fw-bold text-center mt-3 mx-3">Image analysis</h2>

        <form id="imageUploadForm" method="POST" action="{{ url_for('user.dashboard') }}" enctype="multipart/form-data">
            <div class="row mb-3 mx-2 mt-4">
                <div id="imageInput" class="col-12">
                    {{ form.image(class="form-control") }}
                </div>
            </div>
            <div class="row mx-2">
                <div class="col-12 d-grid">
                    <button id="uploadButton" type="submit" class="btn btn-primary mb-3">Process</button>
                    <div id="processingContainer" class="text-center" style="display: none;">
                        <div id="spinnerContainer" class="spinner-border text-primary mb-3" role="status">
                            <span class="visually-hidden">.</span>
                        </div>
                        <p>Processing... This may take a few minutes</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    document.getElementById('imageUploadForm').addEventListener('submit', function(event) {
        // Show spinner, hide button
        document.getElementById('imageInput').style.display = 'none';
        document.getElementById('uploadButton').style.display = 'none';
        document.getElementById('processingContainer').style.display = 'block';
    });
</script>
{% endblock %}
