{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-lg-4 rounded-4 shadow bg-white">
        <h2 class="fw-bold text-center pt-3 pb-1 mx-3">Login</h2>

        <div class="row mt-3 mx-2">
            <div class="col">
                {% for category, message in get_flashed_messages(with_categories=True) %}
                    {% from "_macro.html" import alert %}
                    {{ alert(message, category) }}
                {% endfor %}
            </div>
        </div>

        {% from "_macro.html" import render_field, render_checkbox %}
        <form method="POST" action="/login">
            <div class="row mb-3 mx-2">
                <div class="col-12">
                    {{ render_field(form.username, class='form-control') }}
                </div>
            </div>
            <div class="row mx-2">
                <div class="col-12">
                    {{ render_field(form.password, class='form-control') }}
                </div>
            </div>
            <div class="row mb-3 text-end mx-2">
                <div class="col-12">
                    <span><a href="">Forgot password?</a></span>
                </div>
            </div>

            <div class="row mb-3 mx-2">
                <div class="col-12">
                    {{ render_checkbox(form.remember_me, class='form-check-input') }}
                </div>
            </div>

            <div class="row mb-3 mx-2">
                <div class="col-12 d-grid">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </div>

            <div class="row mt-3 mb-4 text-center">
                <div class="col-12">
                    <span>Not registered? <a href="{{ url_for('auth.signup') }}">Sign Up</a></span>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}